{
  "swagger": "2.0",
  "info": {
    "title": "NTUgether API document",
    "description": "Description",
    "version": "1.0.0"
  },
  "host": "ntugether.zapto.org:4000",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application/{application_id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "description": "活動創立者可以檢視特定審核",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "回傳特定審核id情況",
            "schema": {
              "type": "object",
              "properties": {
                "application_id": {
                  "type": "number",
                  "example": 11
                },
                "application_response": {
                  "type": "string",
                  "example": "審核回覆"
                },
                "is_approved": {
                  "type": "string",
                  "example": "true"
                },
                "applicant_id": {
                  "type": "number",
                  "example": 16
                },
                "Applicant": {
                  "type": "string",
                  "example": "用戶資料"
                },
                "Activity": {
                  "type": "string",
                  "example": "activity_id"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/application/{application_id}/approve": {
      "patch": {
        "tags": [
          "Activity"
        ],
        "description": "活動創立者可以進行問題審核，目前直接call這個API就會審核成功，自動將通過審核用戶加入活動參與者清單",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "審核成功，將通過審核用戶加入參與者清單",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "approved!"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/": {
      "get": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "type": "string"
          },
          {
            "name": "is_long_term",
            "in": "query",
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/{activity_id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "updateParams": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/{activity_id}/application": {
      "get": {
        "tags": [
          "Activity"
        ],
        "description": "活動創建者可以檢視特定活動的所有待審核列表",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "回傳待審核名單",
            "schema": {
              "type": "object",
              "properties": {
                "application_id": {
                  "type": "string",
                  "example": "待審核者id"
                },
                "application_response": {
                  "type": "string",
                  "example": "審核回覆"
                },
                "is_approved": {
                  "type": "boolean",
                  "example": true
                },
                "applicant_id": {
                  "type": "number",
                  "example": 16
                },
                "activity_id": {
                  "type": "number",
                  "example": 3
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/{activity_id}/remove-user": {
      "patch": {
        "tags": [
          "Activity"
        ],
        "description": "活動創建者移除活動中的用戶",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "要移除的用戶id",
            "schema": {
              "type": "object",
              "properties": {
                "remove_user_id": {
                  "type": "string",
                  "example": "用戶id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/{activity_id}/apply": {
      "post": {
        "tags": [
          "Activity"
        ],
        "description": "不論是否需要審核的活動都是使用這個API，不須審核的將直接加入。所有用戶都可以call這個API，但是活動建立者會被擋掉",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "需要審核活動的審核問題",
            "schema": {
              "type": "object",
              "properties": {
                "application_response": {
                  "type": "string",
                  "example": "審核回覆"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/{activity_id}/participants": {
      "get": {
        "tags": [
          "Activity"
        ],
        "description": "回傳活動所有參與者，目前只有ID，無法回傳參與者名稱",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/{activity_id}/discussion": {
      "get": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activity/{activity_id}/leave": {
      "post": {
        "tags": [
          "Activity"
        ],
        "description": "",
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "用戶詳細資料",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "string",
                    "example": "{ ... }"
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "用戶不存在",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "User not found."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "更新會員資料",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "用戶名稱"
                },
                "phoneNum": {
                  "type": "string",
                  "example": "電話號碼"
                },
                "gender": {
                  "type": "string",
                  "example": "性別"
                },
                "aboutMe": {
                  "type": "string",
                  "example": "個人簡介"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "會員資料更新成功",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Member updated successfully"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "使用者身分驗證錯誤",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "authorization fail"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "404": {
            "description": "請至少更新一行",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Please update at least one row."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        },
        "security": [
          {
            "bearerAuth": [
              {
                "type": "http",
                "scheme": "bearer"
              }
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "會員刪除成功",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Member deleted successfully"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "使用者身分驗證錯誤",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "authorization fail"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "404": {
            "description": "會員不存在",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Member not found."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        },
        "security": [
          {
            "bearerAuth": [
              {
                "type": "http",
                "scheme": "bearer"
              }
            ]
          }
        ]
      }
    },
    "/user/allMembers": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "用戶詳細資料",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "string",
                    "example": "{ ... }"
                  }
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "用戶不存在",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "User not found."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        }
      }
    },
    "/user/forgetPassword": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "忘記密碼，輸入信箱後發送驗證碼",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "忘記密碼驗證信發送成功",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You have requested to reset your password. Please verify within 10 minute."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "404": {
            "description": "用戶不存在",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "User not found."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        }
      }
    },
    "/user/emailSend": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "信箱註冊驗證碼發送",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "註冊驗證信發送成功",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "You have requested to reset your password. Please verify within 10 minute."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "409": {
            "description": "用戶已存在，請使用其他信箱",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "User already exists."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        }
      }
    },
    "/user/signup": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Sign up 內容",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "用戶名稱"
                },
                "email": {
                  "type": "string",
                  "example": "用戶信箱"
                },
                "birthday": {
                  "type": "string",
                  "example": "2000-01-01"
                },
                "gender": {
                  "type": "string",
                  "example": "male"
                },
                "password": {
                  "type": "string",
                  "example": "any"
                },
                "code": {
                  "type": "string",
                  "example": "驗證碼"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "建立成功",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Member created successfully."
                },
                "token": {
                  "type": "string",
                  "example": "JWT_token"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "Invalid or expired verification code."
          },
          "409": {
            "description": "Email Conflict",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Email already exists"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        }
      }
    },
    "/user/signin": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Sign in 內容",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "用戶信箱"
                },
                "password": {
                  "type": "string",
                  "example": "用戶密碼"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "登入成功",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Sign in successfully."
                },
                "token": {
                  "type": "string",
                  "example": "JWT_token"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "密碼錯誤",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Invalid credentials"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "404": {
            "description": "用戶不存在",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "User not found."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        }
      }
    },
    "/user/resetPassword": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "收到驗證信後，重設密碼",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "用戶信箱"
                },
                "code": {
                  "type": "string",
                  "example": "驗證碼"
                },
                "newPassword": {
                  "type": "string",
                  "example": "用戶新密碼"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "密碼更改成功",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Password reset successfully"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "401": {
            "description": "驗證碼錯誤",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Invalid or expired verification code"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "404": {
            "description": "用戶不存在",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "User not found."
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "500": {
            "description": "網路或其他不明原因錯誤"
          }
        }
      }
    },
    "/user/auth/google/signup": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Oauth註冊API，請注意不要跟/user/signup之信箱相同",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/user/oauth2callback/signup": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "OAuth callback for signup. Redirects to home page on success.",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/user/auth/google/login": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Oauth登入API",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/user/oauth2callback/login": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "OAuth callback for login. Redirects to home page on success.",
        "responses": {
          "200": {
            "description": "Google Oauth登入成功",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "User authenticated successfully"
                },
                "token": {
                  "type": "string",
                  "example": "jwt_token"
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        }
      }
    },
    "/user/auth/failure": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Oauth驗證失敗API",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/plan/": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/plan/{plan_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "removed_participants": {
                  "example": "any"
                },
                "invitees": {
                  "example": "any"
                },
                "tags": {
                  "example": "any"
                },
                "progression": {
                  "example": "any"
                },
                "updateParams": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/plan/application/{application_id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/plan/application/{application_id}/approve": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/plan/{plan_id}/applications": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/plan/{plan_id}/apply": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "application_response": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/plan/{plan_id}/invitation": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/plan/{plan_id}/leave": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/plan/{plan_id}/discussion": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}